.aboutPage {
	background-color: #ffffff; // Белый фон
	color: #000000; // Чёрный текст
	min-height: 100vh;
	padding: 40px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	max-width: 800px;
	width: 100%;

	h1 {
		font-weight: 700;
		font-size: 36px;
		font-family: Raleway, sans-serif;

		margin-bottom: 20px;
		font-weight: bold;
	}

	p {
		font-size: 18px;
		font-family: Raleway, sans-serif;

		line-height: 1.6;
		margin-bottom: 16px;
	}
}
